body {
    background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
}

a{
    color: white;
}

.menuNav{
    display: flex;
    font-size: 17px;
    color: #fff;
}

section{
    background-color: #fff;
    color: black;
}

a{
    color: #4b6cb7;
}