body {
    background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: #416bb9;
    color: #fff;
    text-align: center;
    padding: 1em;
}

a{
    color: white;
}

.menuNav{
    display: flex;
    font-size: 17px;
    color: #fff;
}

section{
    background-color: #fff;
    color: black;
}

a{
    color: #f7f7f7;
}

body {
    margin: 0;
    padding: 0;
}

.foto-container {
    display: flex;
}

.foto-container img {
    width: 300px; 
    height: auto; 
    margin-right: 10px;
    margin-left: 60px;  
}

.foto2-container {
    display: flex;
}

.foto2-container img {
    width: 500px; 
    height: auto; 
    margin-right: 10px;
    margin-left: 60px;  
}

.foto3-container img{
    width: 300px; 
    height: auto; 
    margin-right: 10px;
    margin-left: 60px;  
}
